<web-app version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>controller.FrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>

	
	<context-param>
    	<param-name>dbName</param-name>
    	<param-value>librarydb</param-value>
	</context-param>
	
	<context-param>
    	<param-name>user</param-name>
    	<param-value>root</param-value>
	</context-param>
	
	<context-param>
    	<param-name>password</param-name>
    	<param-value>123456</param-value>
	</context-param>
	
	
</web-app>