<web-app version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>controller.FrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	
	<context-param>
    	<param-name>dbName</param-name>
    	<param-value>librarydb</param-value>
	</context-param>
	
	<context-param>
    	<param-name>user</param-name>
    	<param-value>root</param-value>
	</context-param>
	
	<context-param>
    	<param-name>password</param-name>
    	<param-value>123</param-value>
	</context-param>
	

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>jsp</web-resource-name>
				<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>member</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>action</web-resource-name>
				<url-pattern>*.action</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>member</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- Login config -->
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<!-- Security Roles -->
	
	<security-role>
		<role-name>member</role-name>
	</security-role>

	
	
</web-app>